@import "@/assets/css/variables.scss";
@import "bulma/sass/utilities/initial-variables.sass";
@import "bulma/sass/utilities/derived-variables.sass";
@import "@/assets/css/tabs.scss";

#profile {
	.title {
		margin-bottom: 1rem;
		font-size: 1.5rem;
	}
	.list-network {
		li {
			line-height: 25px;
			display: block;
			min-width: 48px;
			font-size: 15px;
			font-weight: normal;
			cursor: pointer;
			display: flex;
			align-items: center;
			color: $grey;
			span {
				padding: 5px;
				margin-right: 0.5rem;
				width: 30px;
				height: 30px;
				background-color: $white;
				box-shadow: 0 3px 7px rgba(0,0,0,0.2);
				display: flex;
				margin: auto;
				img {
					opacity: 0.5;
				}
			}
		}
		li:empty
		{
			margin-top:0px;
		}
	}
	.section-profile {
		padding-top: 4.5rem;
		.column {
			+.column {
				border-left: solid 1px #dedede;
			}
		}
		.profile-main {
			.b-tabs {
				@extend %b-tabs;
			}
			.profile-top {
				margin-bottom: 60px;
				
				@media screen and (min-width: $fullhd) {
					display: flex;
					align-items: center;
				}
				.profile-left {
					@media screen and (min-width: $fullhd) {
						padding-right: 2rem;
					}
				}
				.profile-right {
					@media screen and (max-width: $fullhd) {
						text-align: center;
					}
				}
				.profile-avatar {
					display: flex;
					justify-content: center;
					position: relative;
					.figure-avatar {
						img {
							width: 160px;
							height: 160px;
							object-fit: cover;
							border-radius: 100rem;
							background-color: $grey-light;
							box-shadow: $shadow-3;
						}
					}
					.edit-photo {
						padding: .5rem;
						width: fit-content;
						height: 1.2rem;
						background-color: $white;
						border-radius: 100rem;
						border: solid 2px $grey;
						box-sizing: content-box;
						bottom: 0;
						position: absolute;
						img {
							opacity: 0.3;
							width: 1.2rem;
							height: 1.2rem;
						}
					}
				}
				input[type="file"] {
					display: none;
				}

				.upload-avatar {
					display: flex;
					align-items: center;
					justify-content: center;
					.custom-file-upload {
						border: 1px solid #ccc;
						display: inline-block;
						padding: 6px 12px;
						cursor: pointer;
					}
				}
				.user-data {
					margin-top: .5rem;
					margin-bottom: 2rem;
				}
			}
			.profile-bottom {
				
				@media screen and (min-width: $fullhd) {
					display: flex;
					align-items: center;
				}
				h3 {
					font-weight: normal;
				}
				.profile-brand {
					@media screen and (max-width: $fullhd) {
						margin-left: auto;
						margin-right: auto;
						margin-bottom: 1rem;
					}
					margin-right: 2rem;
					padding: 10px;					
					display: flex;
					align-items: center;

					background-color: #fff;
					box-shadow: $shadow-3;
					position: relative;
					&:before {
						content: "";
						width: 50%;
						height: 5px;
						position: absolute;
						left: 0;
						bottom: 0;
						background-color: $secondary;
					}
					img {
						margin-left: auto;
						margin-right: auto;
						width: 140px;
						min-width: 140px;
						//min-height: 120px;
					}
				}
				.profile-rol {
					text-align: center;
					.user-company {
						font-size: 1.3rem;
					}
					.user-rol {
						@media screen and (min-width: $fullhd) {
							display: flex;
							text-align: center;
							font-size: 1.2rem;
						}
					}
				}
			}
		}
		.icon-action {
			margin-left: 0.5rem;
			padding: 0.5rem;
			width: 10px;
			background-color: $grey-light;
			box-sizing: content-box;
			border-radius: 3px;
		}
		.icon-ok {
			background-color: $success;
		}
		.icon-close {
			background-color: $danger;
		}
		.profile-data {
			h2 {
				margin-bottom: 15px;
			}
			.b-tabs {
				@extend %b-tabs;
			}
			.business-card {
				margin-bottom: 40px;
				.businesscardconected, .businesscardpending {
					display: flex;
					align-items: center;
					justify-content: space-between;
					+div {
						margin-top: 0.7rem;
					}
					strong {
						margin-right: 10px;
					}
					ul {
						margin-left: 10px;
						min-width: 120px;
						li {
							float: left;
							height: 35px;
							width: 35px;
							padding: 8px;
							box-shadow: 0 3px 7px rgba(0,0,0,0.2);
							background-color: $primary;
							border-radius: 100px;
							cursor: pointer;
							display: flex;
							justify-content: center;
							align-items: center;
							+li {
								margin-left: 0.7rem;
							}
							img {
								width: 25px;
								height: 25px;
							}
							/*&:nth-child(2n) img {
								background-color: $secondary;
								}*/
                            &:nth-child(3n) img {
                                background-color: $dark;
                            }
                        }
                    }
                }
				/*.businesscardpending {
					ul {
						li {
							&:nth-child(2n) img {
								background-color: $grey-light;
							}
						}
					}
					}*/
            }
            .my-interviews {
                .interview-upcoming, .interview-past {
                    display: flex;
                    align-items: center;
                }
                .date-turn {
                    margin-bottom: 0;
                    margin-right: -15px;
                    color: $grey-light;
                    font-size: 20px;
                    font-weight: bold;
                    text-transform: uppercase;
                    transform: rotate(-90deg);
                }
                .int-time {
                    margin: auto;
                    padding: 2px;
                    width: 60px;
                    background: $white;
                    text-align: center;
                    font-size: 1.1em;
                    line-height: 1;
                    position: absolute;
                    bottom: -20px;
                    left: 50%;
                    margin-left: -30px;
                    box-shadow: $shadow-3;
                    span {
                        display: block;
                        font-size: 0.8em;
                        font-weight: normal;
                        color: $grey-light;
                    }
                }
                .interview-today, .interview-tomorrow {
                    margin-bottom: 10px;
                    height: 162px;
                    display: flex;
                    align-items: center;
                    article {
                        width: 132px;
                        height: 132px;
                        border: solid 10px $secondary;
                        background-color: $grey;
                        margin: 0;
                        position: relative;
                        +article {
                            margin-left: 10px;
                        }
                        img {
                            width: 132px;
                            height: 112px;
                            object-fit: cover;
                            position: absolute;
                            left: 0;
                            top: 0;
                        }
                    }
                    .interview-next {
                        border-color: $grey-light;
                    }
                }
            }
        }
        .edit-profile-button {
            width: 15px;
            height: 15px;
            margin-left: 0.5rem;
        }
        .column {
            position: relative;
        }
        .bg {
            background-color: $primary !important;
            padding: 2px !important;
            border-radius: 2px !important;
        }
        .center {
            margin-left: 0px;
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
        }
        .bg-sec {
            background-color: $secondary !important;
            padding: 2px !important;
            border-radius: 2px !important;
        }
        .edit-socials {
            max-width: 150px;
            height: 30px;
        }
        .field {
            margin: 0px;
        }
    }
}
