@import "@/assets/css/variables.scss";
@import "bulma/sass/utilities/initial-variables.sass";
@import "bulma/sass/utilities/derived-variables.sass";

%chat-bubble {
	box-sizing: content-box;
	padding: 10px 10px 0px 10px;
	height: calc(100vh - 250px);
	overflow-y: scroll;
	position: relative;
	article {
		display: flex;
		justify-content: flex-start;
		h3 {
			margin-bottom: 3px;
			font-size: 0.9rem;
			font-weight: normal;
			width: min-content;
		}
		p {
			padding: 10px 20px;
			border-radius: 5px;
			font-size: 0.9em;
			cursor: pointer;
		}
		+article {
			margin: 9px 0px;
		}
	}
	.bubble-mine {
		display: flex;
		justify-content: flex-end;
		h3 {
			right: 0px;
		}
		p {
			background-color: $light;
		}
		.message-time {
			left: 30px;
		}
	}
	.bubble-remote {
		p {
			color: $white;
			background-color: $blue;
		}
	}
	.bubble-admin {
		p {
			color: $white;
			background-color: $danger;
		}
	}
}
