@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');
@import "./variables.scss";

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

@import './chatBubble.scss';
@import './textarea_message.scss';
@import './_steps.scss';
@import './_popup-form.scss';
@import './_soc-edit.scss';
@import './adminBar';
@import './buttons';

// Fonts icons
@import url('https://cdn.materialdesignicons.com/5.3.45/css/materialdesignicons.min.css');

// TYPOGRAPHY //
//////////////////////////////////////////
h1, h2, h3, h4, h5, h6 {
	font-weight: $weight-bold;
	font-family: 'Montserrat', sans-serif;
}
h2 {
	font-size: 1.9rem;
}
h3 {
	font-size: 1.5rem;
}
h4 {
	font-size: 1rem;
}
p + p {
	margin-top: 1em;
}

// HELPER CLASS //
//////////////////////////////////////////
body {
	background-color: $white-ter;
	min-height: calc(100vh - 5rem);
}
main {
	margin-top: 5rem;
}

.meetup-profile, .networking-rooms {
	min-height: calc(100vh - 5rem);
}
@media screen and (min-width: $desktop) {
	.container {
		max-width: 95%;
	}
}
@media screen and (min-width: $fullhd) {
	.container {
		max-width: 80%;
	}
}
@media screen and (min-width: $fullhd) {
	.section {
		padding-right: 0;
		padding-left: 0;
	}
	.help-420 {
		width: 420px;
		flex: none;
	}
}
.modal-close {
	z-index: 10000000;
}
.click {
	cursor: pointer;
}

// BUTTONS //
//////////////////////////////////////////
.button.is-secondary {
	background-color: $secondary;
	border-color: transparent;
	color: $secondary-invert;
}
.button {
	.tag {
		margin-left: 0.5rem;
	}

	.rounded, .loading-overlay {
		border-radius: 290486px;
		.loading-icon::after {
			top: calc(50% - 1em);
			left: calc(50% - 1.25em);
			width: 2em;
			height: 2em;
		}
	}
}

.padding-top-20 {
	padding-top: 20px;
}

.price {
	color: $primary;
	font-size: 32px;
	font-weight: 900;
	text-align: center;
	margin-top: 10px;
}

.sidebar-background {
	opacity: 0;
	animation-name: fade-in;
	animation-fill-mode: both;
	animation-duration: 1s;
}

@keyframes fade-in {
  0% { opacity: 0; }
  20% { opacity: 0; }
  100% { opacity: 1; }
}

// TITLE PAGE //
//////////////////////////////////////////
.title-page {
	margin-top: 4rem;
	margin-bottom: 2rem;
	color: $grey;
		/*margin: auto;
		width: fit-content;
		position: relative;		
		text-transform: capitalize;
		&:before {
			content: "";
			width: 25px;
			height: 25px;
			position: absolute;
			top: -30px;
			left: -50px;
			background-color: $secondary;
			box-shadow: 30px 0px 0 -6px $secondary, -33px 20px 0 -2px $secondary;
			}*/
		}

		.sevfive-left {
			left: 75% !important;
			position: fixed !important;
		}

		.centrify-content {
			top:50%;
			left:50%;
			transform: translate(-50%, -50%);
			position: relative;
		}

		/* Page title Primary */
		#demoday, #profile, #profile-company, #profile-booth {
			.title {
				&:before {
					background-color: $primary;
					box-shadow: 30px 0px 0 -6px $primary, -33px 20px 0 -2px $primary;
				}
			}
		}

		/* Page title secondary invert */
		#media-partner-booth {
			.title {
				&:before {
					top: -5px;
					right: -40px;
					left: auto;
					background-color: $secondary;
					box-shadow: -5px -29px 0 -5px $secondary, -23px -21px 0 -8px $secondary;
				}
			}
		}
		/* Page title Primary invert */
		#media-hall {
			.title {
				&:before {
					top: -5px;
					right: -40px;
					left: auto;
					background-color: $primary;
					box-shadow: -5px -29px 0 -5px $primary, -23px -21px 0 -8px $primary;
				}
			}
		}

		%agendarow {
			padding-top: 0;
			padding-bottom: 0;
			max-width: 95%;
			position: relative;
			background: $grey-lighter;
			position: relative;
			.column {
				padding-top: 20px;
				padding-bottom: 20px;
				display: flex;
				align-items: center;
				justify-content: center;
				.has-text-centered {
					width: 100%;
				}
				+.column {
					border-left: solid 1px #dedede;
				}
			}

			&:before {
				content: "";
				width: 10px;
				left: 0;
				bottom: 0;
				border-bottom: solid 105px $primary;
				position: absolute;
			}
			&:nth-child(even) {
				&:before{
					border-bottom: solid 105px $secondary;
				}
			}
			.agenda-time {
				max-width: 200px;
				h3 {
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 20px;
					font-weight: 400;
					color:$primary;
					span {
						margin-left: 10px;
						text-transform: uppercase;
						font-size: 15px;
					}
				}
			}
			.agenda-person {
				max-width: 300px;
				justify-content: left;
				cursor: pointer;
				&:hover {
					align-items: center;
					justify-content: center;
					background-color: $primary;
					.data {
						display: none;
					}
					.logo-hover {
						display: block;
					}
				}
				.data {
					display: flex;
					align-items: center;
					img {
						margin-right: 10px;
						width: 65px;
						height: 65px;
						object-fit: cover;
					}
				}
				.logo-hover {
					display: none;
					img {
						margin: auto;
						max-width: 200px;
						max-height: 60px;
					}
				}
			}

			&:after {
				content: "";
				cursor: pointer;
				color: #fff;
				text-align: center; 
				font-size: 2em;
				padding: 20px 0;
				width: 50px;
				height: 50px;
				background-color: $secondary;
				background-image: url("../../assets/icon/right-arrow.svg");
				background-position: center;
				background-repeat: no-repeat;
				background-size: 50%;
				position: absolute;
				right: 0;
				margin-right: -25px;
				top: 50%;
				margin-top: -25px;
				box-shadow: 0 3px 7px rgba(0,0,0,0.2);
			}
			&:nth-child(even) {
				&:after{
					background-color: $primary;
				}
				.agenda-time {

					h3 {
						color:$secondary;
					}
				}
				.agenda-person {
					&:hover {
						background-color: $secondary;
					}
				}
			}
		}

		#ongoing-interviews, #media-hall {
			.agendarow {
				@extend %agendarow;
			}
		}

		#upcomming-interviews {
			.interviewrow {
				@extend %agendarow;
		// &:after {
		// 	content: "";
		// 	cursor: pointer;
		// 	color: #fff;
		// 	text-align: center; 
		// 	font-size: 2em;
		// 	padding: 20px 0;
		// 	width: 50px;
		// 	height: 50px;
		// 	background-color: $secondary;

		// 	background-image: url("../../assets/icon/diag-arrow.svg");
		// 	background-position: center;
		// 	background-repeat: no-repeat;
		// 	background-size: 50%;
		
		// 	position: absolute;
		// 	right: 0;
		// 	margin-right: -25px;
		// 	top: 50%;
		// 	margin-top: -25px;
		// 	box-shadow: 0 3px 7px rgba(0,0,0,0.2);
		// }
	}
}

/* disabled states */
.click-disabled {
	opacity: 0.5;
	cursor: no-drop !important;

	&:after {
		opacity: 0.5;
		cursor: no-drop !important;
	}
}
.row-disabled {}

.radius-rounded {
	border-radius: 100%;
}
.fix-width {
	width: 100%
}
.shadow-1 {
	box-shadow:$shadow-1;
}
.shadow-2 {
	box-shadow:$shadow-2;
}

// ANIMATIONS //
//////////////////////////////////////////
.stage, .main, .platinum, .gold, .silver, .bronze, .basic, .ms-main, .ms-platinum, .ms-gold, .social-list a {
	transition: all 0.3s ease-out;
	&:hover {
		transform: scale(1.1);
		z-index: 999;
	}
}

// POPUPS //
//////////////////////////////////////////
.dialog .modal-card .modal-card-body.is-titleless {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.modal-card-head {
	/*background-color: $secondary;*/
	font-weight: normal !important;
}
.modal-card-foot {
	background-color: $white;
	justify-content: flex-end;
}
.dialog .modal-card .modal-card-foot .button {
	font-weight: normal;
}


.bcardpreview {
	.card {
		width: 400px;
	}
	text-align: center;
	.member {
		margin-bottom: 2.5em;
		padding: 0;
		box-shadow: none;
		figure {
			margin-top: 0;
		}
	}
}
.privatecall {
	.modal-card {
		width: 600px;
	}
}

.upgradeticket {
	.columns {
		margin-top: 25px;
	}
}

.sponsors-login {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 0;
	padding-bottom: 0;
	.box {
		display: flex;
		align-items: center;
		justify-content: center;
		img {
			max-width: 90%;
		}
	}
	.ls-main {
		img {
			max-height: 250px;
			min-height: 250px;
		}
	}
	.ls-platinum {
		img {
			height: 100px;
		}
	}
	.ls-gold {
		img {
			height: 75px;
		}
	}
	.ls-silver {
		img {
			height: 40px;
		}
	}
}

// LOGIN //
//////////////////////////////////////////
#login {
	margin-top: -5rem;
	height: 100vh;
	display: flex;
	align-items: center;
	.data-login {
		figure {
			margin: auto;
			max-width: 80%;
		}
		.box {
			margin-top: 50px;
			padding: 40px;
			box-shadow: $shadow-3;
			h1 {
				margin-bottom: 10px;
			}
			form {
				margin-top: 40px;
				label {
					display: block;
				}
				.input:focus {
					background-color: $white;
				}
				.button {
					margin-top: 20px;
					padding-left: 2em;
					padding-right: 2em;
					font-weight: bold;
				}
			}
		}
	}
	// .sponsors-login {
	// 	display: flex;
	// 	align-items: center;
	// 	justify-content: center;
	// 	padding-top: 0;
	// 	padding-bottom: 0;
	// 	.box {
	// 		display: flex;
	// 		align-items: center;
	// 		justify-content: center;
	// 		img {
	// 			max-width: 90%;
	// 		}
	// 	}
	// 	.ls-main {
	// 		img {
	// 			max-height: 250px;
	// 			min-height: 250px;
	// 		}
	// 	}
	// 	.ls-platinum {
	// 		img {
	// 			max-height: 100px;
	// 		}
	// 	}
	// }
}

// LIVE FEED //
//////////////////////////////////////////
.b-sidebar {
	.livefeed {
		height: 100vh;
		z-index: 9999;
		.feeds {
			padding:110px 15px 15px;
			h3 {
				margin-bottom: 10px;
				color: $grey;
			}
			.switch input[type=checkbox]:checked + .check,
			.switch:hover input[type=checkbox]:checked + .check {
				background: $grey-light;
				box-shadow: 0 0 0.5em $grey-light;
			}
			.switch input[type=checkbox] + .check:before {
				transform: translate3d(100%, 0, 0);
			}
			.switch input[type=checkbox] + .check, 
			.switch:hover input[type=checkbox] + .check {
				background: $primary;
				box-shadow: 0 0 0.5em $primary;
			}
			.switch input[type=checkbox]:checked + .check:before {
				transform: translate3d(0%, 0, 0);
			}
		}
		.feed {
			font-size: 15px;
			cursor: pointer;
			border-radius: 3px;
			&:hover {
				text-decoration: underline;
			}
			figure {
				position: relative;
				&:before {
					content: "";
					width: 30px;
					height: 30px;
					bottom: -3px;
					left: -10px;
					text-align: center;
					background-color: $primary;
					border-radius: 100%;
					background-repeat: no-repeat;
					background-position: center;
					background-size: 17px;
					position: absolute;
				}
				img {
					margin-bottom: -5px;
					width: 70px;
					height: 70px;
					object-fit: cover;
				}
			}

			&+.feed {
				border-top: 0;
				margin-top: 1.5rem;
			}
		}
		.feed-facebook {
			figure {
				&:before {
					content: "";
					background-image: url("../../assets/icon/icon-facebook.svg");

				}
			}
		}
		.feed-twitter {
			figure {
				&:before {
					content: "";
					background-color: $secondary;
					background-image: url("../../assets/icon/icon-twitter.svg");
				}
			}
		}
	}
	.is-mini {
		.media-content {
			display: none;
		}
	}
}

// STORIES //
//////////////////////////////////////////
.section-stories {
	background-color: $light;
	.is-wrapped {
		
	}
	.stories {
		height: 110px;
		overflow: auto;
		overflow-y: hidden;
		&::-webkit-scrollbar {
			width: 1em;
			height: 10px;
		}

		&::-webkit-scrollbar-track {
			box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
		}

		&::-webkit-scrollbar-thumb {
			background-color: darkgrey;
			outline: 1px solid slategrey;
			border-radius: 10px;
		}

		.story {
			width: 96px;
			height: 96px;
			border-radius: 100%;
			background-image: linear-gradient(to right, $primary 0%, $secondary 50%);
			box-shadow: $shadow-3;
			transition: all 0.2s ease-out;
			position:relative;
			float: left;

			.circle {
				width: 90px;
				height: 90px;
				top: 50%;
				margin-top: -45px;
				left: 3px;
				position: absolute;
				border-radius: 100px;
				background-color: $white;
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				
				>img {
					max-width: 60px;
					max-height: 60px;
					position: absolute;
				}
			}
			article {
				background-color: $white;
				display: block;
				padding-right: 30px;
				width: max-content;
				height: 90px;
				position: absolute;
				top: 3px;
				left: 3px;
				display: none;
				z-index: 9999;
				border-radius: 100px;
				box-shadow: $shadow-3;
				figure {
					width: 90px;
					display: flex;
					align-items: center;
					justify-content: center;
					cursor: pointer;
				}
				img {
					max-width: 60px;
					max-height: 60px;
				}
				p {
					a {
						color: black;
						&+a{
							margin-left: 20px;
						}
					}
					img {
						margin-left: 20px;
						filter: invert(50%);
						width: 15px;
						cursor: pointer;
					}
				}
			}
			article.is-active {
				display: block;
				display: flex;
				align-items: center;
			}


			&+.story {
				margin-left: 50px;
			}
		}
	}
}
.story-create {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	position: relative;
	&:before {
		content: "+";
		position: absolute;
		top: 0;
		margin: auto;
		width: 50px;
		height: 50px;
		color: $secondary;
		font-weight: bold;
		font-size: 25px;
		border: 2px dashed;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 100px;
		transition: all 0.2s ease-out;
	}
	p {
		margin-top: 60px;
		font-size: 14px;
	}
	&:hover {
		&:before {
			transform: scale(1.1);
		}
	}
}

// HOME PAGE //
//////////////////////////////////////////
#home {
	margin-left: 100px;
	.section-top {
		.logo {
			display: flex;
			align-items: center;
			justify-content: center;
			figure {
				width: 250px;
			}
			@media screen and (min-width: $fullhd) {
				padding-left:2rem;
				padding-right: 2rem;
				figure {
					width: 345px;
				}
			}
		}
		.stage {
			height: 260px;
			display: flex;
			align-items: center;
			position: relative;
			&:hover {
				&:after, &:before {
					background-color: $secondary;
					transform: rotate(180deg);
				}
			}
			h1 {
				margin-bottom: 1rem;
				font-size: 1.5rem;
				line-height: 1;
			}
			.has-text-centered {
				width: 100%;
			}
			h3 {
				margin-bottom: 0.5rem;
				font-size: 1rem;
			}
			.is-100x100 {
				width: 100px;
				height: 100px;
				margin: auto;
				margin-bottom: 20px;
			}
			.icon-stage-with-sponsor {
				width: 75px !important;
				margin: auto;
				margin-bottom: 20px;
			}
			.is-150x200 {
				width: 200px;
				height: 150px;
				margin: auto;
			}
			&:after, &:before {
				content: "";
				position: absolute;
				width: 27px;
				height: 27px;
				top: -13px;
				left: -13px;
				border: solid 3px $secondary;
				transform: rotate(0);
				transition: 0.3s ease-out;
			}
			&:before {
				top: 35px;
			}
		}
	}
	/* Boxes */
	.eworkshop {
		margin-left: auto;
		margin-right: auto;
		height: 280px;
		flex: none;
		position: relative;
		display: flex;
		align-items: center;
		background-color: $grey-lighter;
		.has-text-centered {
			width: 100%;
		}
		h3 {
			text-transform: uppercase;
		}
		:before {
			content: "";
			width: 90px;
			height: 90px;
			background-color: $primary;
			position: absolute;
			left: 50%;
			margin-left: -45px;
			top: -45px;
		}
	}
	.media-hall, .startups {
		margin-left: auto;
		margin-right: auto;
		width: 290px;
		height: 290px;
		flex: none;
		border: solid 30px $secondary;
		position: relative;
		margin-bottom: 100px !important;
		display: flex;
		align-items: center;
		background-color: #fff;
		.has-text-centered {
			width: 100%;
		}
	}
	.startups {
		border-color: $primary;
		margin-bottom: 0;
	}
	.media-hall:before, .startups:before {
		content: "";
		width: 90px;
		height: 110px;
		background-color: #fff;
		background-image: url("../../assets/icon/icon-mediahall.png");
		background-repeat: no-repeat;
		background-position: center;
		border: solid 5px $secondary;
		position: absolute;
		left: 50%;
		margin-left: -45px;
		top: -80px;
		box-sizing: border-box;
	}
	.startups:before {
		border-color: $primary;
		background-image: url("../../assets/icon/icon-startups.png");
	}

	/* Sponsors */
	.sponsor {
		display: flex;
		align-items: center;
		.has-text-centered {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		h3 {
			color: $grey-light;
			text-transform: uppercase;
		}
	}

	/* Main sponsor */
	.section-main .is-ancestor {
		display: flex;
		align-items: center;
	}
	.main {
		margin: auto;
		width: 700px;
		height: 400px;
		position: relative;
		img {
			max-width: 80%;
		}
		:before {
			content: "";
			width: 30px;
			height: 30px;
			background-color: $primary;
			position: absolute;
			left: 50%;
			margin-left: -15px;
			top: -15px;
		}
	}

	/* Platinum sponsor */
	.platinum {
		height: 190px;
		position: relative;
		img {
			max-height: 120px;
			max-width: 85%;
		}
		&:after {
			content: "";
			width: 40%;
			left: 0;
			bottom: 0;
			border-bottom: solid 10px $grey-light;
			position: absolute;
		}
	}

	/* Gold sponsor */
	.section-gold {
		.gold {
			margin: auto !important;
			max-width: 450px;
			padding: 30px;
			img {
				max-height: 150px;
				max-width: 90%;
			}
		}
	}
	.gold {
		padding: 30px 10px;
		position: relative;
		img {
			max-height: 70px;
			max-width: 85%;
		}
		&:after {
			content: "";
			width: 40%;
			left: 0;
			bottom: 0;
			border-bottom: solid 10px $secondary;
			position: absolute;
		}
	}

	/* Silver sponsor */
	.silver {
		img {
			max-height: 60px;
		}
	}

	/* Bronze sponsor */
	@media screen and (min-width: $desktop) {
		.bronze {
			margin: auto;
			margin-bottom: 30px;
			height: 170px;
			max-width: 170px;
			background-color: $grey-lighter;
			img {
				max-width: 90%;
			}
		}
	}

	/*  Basic sponsor */
	.section-basic-bottom {
		.columns {
			display: flex;
			justify-content: center;
		}
	}
	@media screen and (min-width: $tablet) {
		.basic {
			margin: auto;
			height: 100px;
			img {
				max-width: 90%;
			}
		}
	}
	@media screen and (min-width: $widescreen) {
		.basic {
			margin: auto;
			height: 120px;
		}
	}
	@media screen and (min-width: $fullhd) {
		.basic {
			margin: auto;
			height: 130px;
		}
	}
	.section-basic {
		.basic-a, .basic-c {
			padding: 0;
			.columns {
				justify-content: center;
			}
			@media screen and (min-width: $widescreen) {
				.column {
					padding: 20px;
				}
			}
			.column:nth-child(1n) {
				.box {
					background-color: $grey-light !important;
				}
			}
			.column:nth-child(2n) {
				.box {
					background-color: $white !important;
				}
			}
		}
	}
}

// STARTUPS PAGE //
//////////////////////////////////////////
#startups {
	.section-starttop {
		padding-top: 0;
		.column {
			padding: 10px 30px;
			display: flex;
			align-items: center;
			justify-content: center;
			+.column {
				border-left: solid 1px #dedede;
			}
			img {
				max-height: 80px;
			}
		}
	}
	.startup-brand {
		.columns+.columns {
			margin-top: 20px;
		}
	}
	.section-startbottom {
		.box {
			display: flex;
			align-items: center;
			.has-text-centered {
				width: 100%;
			}
		}
		.startup-logo {
			.box {
				min-height: 160px;
				position: relative;
				cursor: pointer;
				display: flex;
				align-items: center;
				justify-content: center;
				box-shadow: $shadow-2;
				img {
					max-height: 120px;
					max-width: 80%; 
				}
				img {
					max-height: 120px;
					max-width: 80%; 
				}
				&:before {
					content: "";
					width: 50%;
					left: 0;
					bottom: 0;
					border-bottom: solid 10px $primary;
					position: absolute;
					transition: 0.25s ease-out;
				}
				&:hover {
					&:before {
						width: 100%;
					}
				}
			}
		}
		.level-right {
			.box {
				position: relative;
				text-transform: uppercase;
				&:before {
					content: "";
					width: 90px;
					height: 100px;
					position: absolute;
					margin-left: -65px;
					top: 50%;
					margin-top: -50px;

					background-color: $primary;

					background-image: url("../../assets/icon/right-arrow.svg");
					background-position: center;
					background-repeat: no-repeat;
					background-size: 50%;
				}
			}
			.demo-day {
				background: url('../../assets/icon/icon-target.svg') no-repeat right center;
			}
			.investors {
				background: url('../../assets/icon/icon-ray.svg') no-repeat right center;
				&:before {
					background-color: $secondary;
				}
			}
		}
	}
}

// DEMO DAY PITCHING BOOTH //
//////////////////////////////////////////
#demoday {
	.section-demo {
		padding-top: 0;
		.agenda {
			background: $grey-light;

			padding: 3em;
			.box {
				width: 93%;
				padding: 2em;
				position: relative;
				&:before {
					content: "";
					width: 10px;
					left: 0;
					bottom: 0;
					border-bottom: solid 124px $primary;
					position: absolute;
				}
				&:nth-child(even) {
					&:before{
						border-bottom: solid 124px $secondary;
					}
				}
				.agenda-link-1 {
					text-transform: uppercase;
				}
				.agenda-touch {
					text-transform: uppercase;
					position: relative;
					// &:after {
					// 	content: "";
					// 	cursor: pointer;
					// 	color: #fff;
					// 	text-align: center; 
					// 	font-size: 2em;
					// 	padding: 20px 0;
					// 	width: 70px;
					// 	height: 90px;
					// 	background-color: $secondary;
					// 	position: absolute;
					// 	right: 0;
					// 	margin-right: -65px;
					// 	top: 45%;
					// 	margin-top: -40px;
					// 	box-shadow: 0 3px 7px rgba(0,0,0,0.2);
					// }
				}
				&:nth-child(even) {
					// .agenda-touch {
					// 	&:after{
					// 		background-color: $primary;
					// 	}
					// }
				}
				&:nth-child(odd), &:nth-child(even) {
					// .agenda-touch {
					// 	&:after{
					// 		background-image: url("../../assets/icon/right-arrow.svg");
					// 		background-position: center;
					// 		background-repeat: no-repeat;
					// 		background-size: 50%;
					// 	}
					// }
				}
			}

			.column{
				display: flex;
				align-items: center;
				+.column {
					border-left: solid 1px #dedede;
				}
			}
			h2 {
				font-size: 90px;
				font-weight: 400;
				margin-bottom: 40px;
				color: $grey;
			}
			h3 {
				text-align: center;
				width: 100%;
				color: grey;
			}
			.agenda-time {
				display: flex;
				align-items: center;
				font-size: 40px;
				font-weight: 400;
				color:$grey;
				span {
					margin-left: 10px;
					text-transform: uppercase;
					font-size: 15px;
					color:grey;
				}
			}
		}
		.demoaction {
			font-size: 20px;
			
			> div {
				width: 100%;
			}
			.demoday-join {
				padding: 1.5em 1.5em 1.5em 3em;
				background-color: $secondary;
				color: $white;
				border-radius: 50px;
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
			.demoday-chat {
				padding: 2em 1.5em 2em 3em;
				border-radius: 50px;
				min-height: 386px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				background-image: url("../../assets/icon/demoday-chat02.png");
				background-repeat: no-repeat;

				background-position: 20px center;
			}
		}
	}
}
.pitchdeck-download {
	transition: all 0.3s ease-out;
	cursor: pointer;
	position: relative;
	box-shadow: $shadow-2;
	display: flex;
	align-items: center;
	justify-content: normal;

	img {
		margin-left: 10px;
		margin-right: 30px;
	}
	p {
		font-size: 1rem;
		line-height: 1.4rem;
	}
	h3 {
		color: $grey;
		font-size: 1.2em;
		line-height: 1.2;
	}
	&:after {
		content: "";
		width: 40%;
		height: 5px;
		bottom: 0;
		left: 0;
		background-color: $primary;
		position: absolute;
		transition: all 0.3s ease-out;
		border-radius: 0 0 0 $radius;
	}
	&:hover {
		transform: scale(1.02);
		z-index: 999;
		&:after {
			width: 100%;
			border-radius: 0 0 $radius $radius;
		}
	}
}

// INVESTORS //
//////////////////////////////////////////
#investors {
	.section-investors {
		padding-top: 0;
		.box {
			padding-top: 22px;
			padding-bottom: 22px;
			.column {
				display: flex;
				align-items: center;
				+.column {
					border-left: solid 1px #dedede;
				}
				.has-text-centered {
					width: 100%;
				}
			}
			.investors-pic {
				margin: -10px;
				padding: 0;
				img {
					width: 240px;
					height: 160px;
					border-right: solid 10px $secondary;
					object-fit: cover;
				}
			}
			&:nth-child(even) {
				.investors-pic {
					img {
						border-right: solid 10px $primary;
					}
				}
			}
			.column.investors-name {
				border-left: 0;
				h3 {
					font-weight: 400;
					strong {
						text-transform: uppercase;
						font-weight: $weight-bold;
					}
				}
			}
			.investors-flag img {
				margin: auto;
				width: 70px !important;
			}

			.investors-touch {
				position: relative;

				// &:after {
				// 	content: "";
				// 	cursor: pointer;
				// 	color: #fff;
				// 	text-align: center; 
				// 	font-size: 2em;
				// 	padding: 20px 0;
				// 	width: 70px;
				// 	height: 90px;
				// 	position: absolute;
				// 	background-color: $primary;

				// 	background-image: url("../../assets/icon/right-arrow.svg");
				// 	background-position: center;
				// 	background-repeat: no-repeat;
				// 	background-size: 50%;

				// 	right: 0;
				// 	margin-right: -35px;
				// 	top: 45%;
				// 	margin-top: -40px;
				// 	box-shadow: 0 3px 7px rgba(0,0,0,0.2);
				// }
			}
			&:nth-child(even) {
				.investors-touch {
					&:after{
						background-color: $secondary;
					}
				}
			}
		}
	}
}

// AGENDA //
//////////////////////////////////////////
#agenda {
	.section-agenda {
		padding-top: 0;
		.box {
			padding-top: 20px;
			padding-bottom: 20px;
			.column {
				display: flex;
				align-items: center;
				+.column {
					border-left: solid 1px #dedede;
				}
				.has-text-centered {
					width: 100%;
				}
			}
			.agenda-pic {
				margin: -8px;
				padding: 0;
				img {
					width: 240px;
					height: 160px;
					border-right: solid 10px $secondary;
					object-fit: cover;
				}
			}
			&:nth-child(even) {
				.agenda-pic {
					img {
						border-right: solid 10px $primary;
					}
				}
			}
			.column.agenda-name {
				border-left: 0;
				h3 {
					font-weight: 400;
					strong {
						text-transform: uppercase;
						font-weight: $weight-bold;
					}
				}
				h4 {
					color: #ababab;
				}
			}
			.agenda-time h3 {
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 40px;
				font-weight: 400;
				color:$grey;
				span {
					margin-left: 10px;
					text-transform: uppercase;
					font-size: 15px;
					color:$grey-light;
				}
			}
			.agenda-touch {
				h3+h3 {
					margin-top: 20px !important;
					&.disabled {
						cursor: default;
						color: $grey-light
					}
				}
			}
			position: relative;
			// &:before, &:after {
			// 	content: "";
			// 	cursor: pointer;
			// 	color: #fff;
			// 	text-align: center; 
			// 	font-size: 2em;
			// 	padding: 20px 0;
			// 	width: 50px;
			// 	height: 50px;
			// 	position: absolute;
			// 	background-color: $primary;

			// 	background-image: url("../../assets/icon/diag-arrow.svg");
			// 	background-position: center;
			// 	background-repeat: no-repeat;
			// 	background-size: 50%;

			// 	right: 0;
			// 	margin-right: -25px;
			// 	top: 40%;
			// 	margin-top: -40px;
			// 	box-shadow: 0 3px 7px rgba(0,0,0,0.2);
			// }
			// &:after {
			// 	background-color: $secondary;
			// 	background-image: url("../../assets/icon/right-arrow.svg");
			// 	margin-right: -25px;
			// 	top: 80%;
			// 	margin-top: -40px;
			// }
		}
	}
}

// VIP //
//////////////////////////////////////////
#vip {
	.section-vip {
		padding-top: 0;
		.box {
			padding-top: 22px;
			padding-bottom: 22px;
			.has-text-grey-light {
				color: #868686 !important;
			}
			.column {
				display: flex;
				align-items: center;
				+.column {
					border-left: solid 1px #dedede;
				}
				.has-text-centered {
					width: 100%;
				}
			}
			.vip-pic {
				margin: -10px;
				padding: 0;
				img {
					width: 240px;
					height: 160px;
					border-right: solid 10px $secondary;
					object-fit: cover;
				}
			}
			.column.vip-name {
				border-left: 0;
				h3 {
					font-weight: 400;
					strong {
						text-transform: uppercase;
						font-weight: $weight-bold;
					}
				}
			}
			.vip-touch {
				ul {
					margin-bottom: 0;
					margin-left: 20px;
				}
				li {
					padding-left: 45px;
					min-height: 25px;
					line-height: 1;
					position: relative;
					font-size: 90%;
					cursor: pointer;
					display: flex;
					align-items: center;
					+li {
						margin-top: 10px;
					}
					img {
						left: 0;
						content: "";
						cursor: pointer;
						text-align: center; 
						font-size: 2em;
						padding: 2px;
						width: 25px;
						height: 25px;
						position: absolute;
						background-color: $primary;
						background-position: center;
						background-repeat: no-repeat;
						background-size: 70%;
						box-shadow: 0 3px 7px rgba(0,0,0,0.2);
					}
					// &:before {
					// 	left: 0;
					// 	content: "";
					// 	cursor: pointer;
					// 	text-align: center; 
					// 	font-size: 2em;
					// 	width: 25px;
					// 	height: 25px;
					// 	position: absolute;
					// 	background-color: $primary;
					// 	background-position: center;
					// 	background-repeat: no-repeat;
					// 	background-size: 70%;
					// 	box-shadow: 0 3px 7px rgba(0,0,0,0.2);
					// }
					// &:nth-child(1n) {
					// 	&:before {
					// 		background-image: url("../../assets/icon/icon-user.svg");
					// 	}
					// }
					// &:nth-child(2n) {
					// 	&:before {
					// 		background-image: url("../../assets/icon/icon-call.svg");
					// 	}
					// }
					// &:nth-child(3n) {
					// 	&:before {
					// 		background-image: url("../../assets/icon/icon-search.svg");
					// 	}
					// }
				}
			}
			&:nth-child(even) {
				.vip-pic {
					img {
						border-right: solid 10px $primary;
					}
				}
				li {
					img {
						background-color: $secondary;
					}
				}
			}
		}
	}
}

// PROFILE COMPANY //
//////////////////////////////////////////
#profile-company {
	.section-profile-company {
		padding-top: 4.5rem;
		.profile-top {
			margin-bottom: 60px;
			display: flex;
			> div {
				margin-right: 30px;
				width: 280px;
				height: 280px;
				background-color: $white;
				display: flex;
				align-items: center;
				justify-content: center;
				box-shadow: $shadow-1;
				img {
					max-width: 90%;
					max-height: 225px;
				}
			}
		}
		.profile-bottom {
			iframe	{
				width: 100%;
				min-height: 300px;
			}
		}
	}
	
	
}

.bio-description {
	margin-top: 20px;
	padding: 30px;
	box-shadow: $shadow-2;
	text-align: justify;
	position: relative;
	ul {
		margin: 10px 0 10px 20px;
		list-style: inherit;
	}
	iframe {
		height: 320px;
	}
	&:before {
		content: "";
		top: 10px;
		left: -10px;
		width: 20px;
		height: 20px;
		position: absolute;
		border: 5px solid $primary;
		transform: rotate(0);
		transition: .3s ease-out;
	}
	&:after {
		content: "";
		top: 38px;
		left: -10px;
		width: 20px;
		height: 20px;
		position: absolute;
		border: 5px solid $secondary;
		transform: rotate(0);
		transition: .3s ease-out;
	}
}
#profile-company {
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 80px;
	min-height: calc(100vh - 80px);
}
.bg-light-mode {
	min-height: 100vh;
}
.bg-dark-mode {
	min-height: 100vh;
	background-color: $dark;
	//background-image: url("../../assets/icon/icon-facebook.svg");
	.container {
		h1, p {
			color: $dark-invert
		}
	}
}

// PROFILE COMPANY MEMBER CARD //
//////////////////////////////////////////
.member {
	padding: 20px;
	height: 100%;
	min-width: 300px;
	text-align: center;
	box-shadow: $shadow-2;
	position: relative;
	border-top: solid 4rem $primary;
	@media screen and (min-width: $fullhd) {
		max-width: 350px;
		min-width: 300px;
	}
	.member-avatar {
		img {
			margin-top: -65px;
			width: 100px;
			height: 100px;
			border-radius: 10rem;
			border: solid 3px $white;
			object-fit: cover;
		}
	}
	.member-name {
		margin-top: 15px;
		font-weight: 600;
		font-size: 1.2rem;
		line-height: 1.5rem;
	}
	.member-rol {
		margin-top: 0.4rem;
		margin-bottom: 1rem;
		font-size: 0.9rem;
		font-weight: normal;
		font-style: italic;
	}
	.member-action {
		.button {
			border-color: $light;
			font-size: .8rem;
		}
		img {
			margin-right: .5rem;
			opacity: .5;
			filter: invert(1);
		}
	}
	.memeber-email {
		cursor: pointer;
		color: $secondary;
		font-weight: normal;
		font-size: 0.9em;
		overflow: hidden;
		word-break: break-all;
	}
	.truncate {
		width: 250px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	nav {
		margin-top: 30px;
		display: flex;
		align-items: center;
		justify-content: space-around;
		img {
			cursor: pointer;
			width: 22px;
			opacity: 0.5
		}
	}
}
.member-custom {
	margin-bottom: 30px;
	text-align: center;
	display: none;
	
	.member-custom-box {
		h2 {
			line-height: 1.3;
			small {
				font-weight: normal;
				font-style: italic;
			}
		}
		a {
			font-size: 14px;
		}
	}
	p {
		margin: 15px 0 20px 0;
		text-align: center;
		font-weight: bold;
	}
}

// MEDIA PARTNER BOOTH //
//////////////////////////////////////////
#media-partner-booth {
	.section-media-partner-booth {
		padding-top: 4.5rem;
		.column{
			+.column {
				//border-left: solid 1px #dedede;
			}
		}
		.profile-top {
			margin-bottom: 60px;
			display: flex;
			> div {
				margin-right: 30px;
				width: 440px;
				height: 280px;
				background-color: $white;
				display: flex;
				align-items: center;
				justify-content: center;
				box-shadow: $shadow-1;
				img {
					max-width: 80%;
					max-height: 225px;
				}
			}
		}
		.profile-bottom {
			.watch-interview-banner {
				padding: 30px;
				cursor: pointer;
				background-image: url("../../assets/myinterview.jpg");
				background-repeat: no-repeat;
				background-size: cover;
				box-shadow: $shadow-2;
				
				display: flex;
				align-items: center;
				justify-content: space-between;
				position: relative;
				&:before {
					content: "";
					width: 100%;
					height: 100%;
					background-color: rgba(0, 0, 0, 0.3);
					position: absolute;
					top: 0;
					left: 0;
				}
				h3 {
					font-size: 50px;
					line-height: 1.2;
					color: #fff;
					z-index: 99;
				}
				&:after {
					content: "▶";
					color: #fff;
					font-size: 50px;
					z-index: 99;
				}

				&--inactive {
					@extend .watch-interview-banner;
					&:before {
						background-color: rgba(255, 255, 255, 0.6);
					}
					&:hover {
						cursor: not-allowed;
					}
				}
			}
		}
		.profile-data {
			.box {
				padding-top: 20px;
				padding-bottom: 20px;
				position: relative;
				box-shadow: $shadow-2;
				.column {
					display: flex;
					align-items: center;
					+.column {
						border-left: solid 1px #dedede !important;
					}
					&:first-child + .column {
						border-left: 0 !important;
					}
				}
				.has-text-centered {
					width: 100%;
					h3 {
						text-align: center;
					}
				}
				.row-name {
					h3 {
						font-weight: normal;
					}
				}
				.row-pic {
					margin: -8px;
					padding: 0;
					padding-left: 10px !important;
					padding-right: 10px !important;
					img {
						width: 240px;
						height: 160px;
						border-right: solid 10px $secondary;
						object-fit: cover;
					}
				}
				.row-touch {
					&:after {
						content: "";
						cursor: pointer;
						color: #fff;
						text-align: center; 
						font-size: 2em;
						padding: 20px 0;
						width: 70px;
						height: 90px;
						position: absolute;
						background-color: $secondary;

						background-image: url("../../assets/icon/right-arrow.svg");
						background-position: center;
						background-repeat: no-repeat;
						background-size: 50%;

						right: 0;
						margin-right: -35px;
						top: 45%;
						margin-top: -40px;
						box-shadow: 0 3px 7px rgba(0,0,0,0.2);
					}
				}
				&:nth-child(even) {
					.row-pic {
						img {
							border-right: solid 10px $primary;
						}
					}
					.row-touch {
						&:after{
							background-color: $primary;
						}
					}
				}
			}

			article {
				margin-top: 2em;
			}
		}
	}
}

// MEDIA HALL //
//////////////////////////////////////////
#media-hall {
	.section-media-hall {
		padding-top: 0;
		.tile.is-parent {
			padding: .3rem;
		}
		.mediahall-logo {
			//padding: .3rem;
			.box {
				min-height: 100px;
				position: relative;
				cursor: pointer;
				display: flex;
				align-items: center;
				justify-content: center;
				box-shadow: $shadow-2;
				img {
					max-height: 70px;
					max-width: 95%; 
				}
				&:before {
					content: "";
					width: 50%;
					left: 0;
					bottom: 0;
					border-bottom: solid 5px $secondary;
					position: absolute;
					transition: 0.25s ease-out;
				}
				&:hover {
					&:before {
						width: 100%;
					}
				}
			}
		}
		h2 {
			font-size: 24px;
			font-weight: $weight-light;
			text-align: center;
		}
		.watch-interview {
			margin: 2em auto;
			width: 380px;
			height: 380px;
			border-radius: 100%;
			box-shadow: $shadow-1;
			background-color: $white;
			position: relative;
			cursor: pointer;
			&:before {
				content: "";
				width: 380px;
				height: 380px;
				position: absolute;
				top: 0;
				left: 0;
				border-radius: 100%;

				background-image: url("../../assets/myinterview.jpg");
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
			}
			&:after {
				content: "▶";
				width: 100px;
				height: 100px;
				background: #fff;
				border-radius: 100%;
				box-shadow: $shadow-2;	
				color: red;
				font-size: 50px;
				position: absolute;
				top: 50%;
				margin-top: -50px;
				left: 50%;
				margin-left: -50px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
		.watch-interview-inactive {
			cursor: inherit;
			&:before {
				opacity: 0.4;
			}
		}
		.upcoming-interview {
			margin: 100px auto 0;
			padding: 30px;
			max-width: 415px;
			color: $white;
			box-shadow: $shadow-2;
			background-color: $secondary;
			position: relative;
			cursor: pointer;
			&:before {
				content: "";
				width: 50px;
				height: 50px;
				top: 50%;
				margin-top: -25px;
				right: 20px;
				position: absolute;
				background-image: url("../../assets/icon/right-arrow-dark.svg");
				background-position: center;
				background-repeat: no-repeat;
				background-size: 50px;
				opacity: 0.3;
			}
			h3 {
				font-size: 20px;
				font-weight: bold;
				text-align: left;
			}
		}
		.mediahallmodal {
			h1 {
				margin-bottom: 40px;
				font-weight: $weight-light
			}
		}
		.agendarow {
			padding-top: 0;
			padding-bottom: 0;
			max-width: 95%;
			position: relative;
			background: $grey-lighter;
			position: relative;
			.column {
				padding-top: 20px;
				padding-bottom: 20px;
				display: flex;
				align-items: center;
				justify-content: center;
				.has-text-centered {
					width: 100%;
				}
				+.column {
					border-left: solid 1px #dedede;
				}
			}

			&:before {
				content: "";
				width: 10px;
				left: 0;
				bottom: 0;
				border-bottom: solid 105px $primary;
				position: absolute;
			}
			&:nth-child(even) {
				&:before{
					border-bottom: solid 105px $secondary;
				}
			}
			.agenda-time {
				max-width: 200px;
				h3 {
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 40px;
					font-weight: 400;
					color:$primary;
					span {
						margin-left: 10px;
						text-transform: uppercase;
						font-size: 15px;
					}
				}
			}
			.agenda-person {
				max-width: 300px;
				justify-content: left;
				cursor: pointer;
				&:hover {
					align-items: center;
					justify-content: center;
					background-color: $primary;
					.data {
						display: none;
					}
					.logo-hover {
						display: block;
					}
				}
				.data {
					display: flex;
					align-items: center;
					img {
						margin-right: 10px;
						width: 65px;
						height: 65px;
						object-fit: cover;
					}
				}
				.logo-hover {
					display: none;
					img {
						margin: auto;
						max-width: 200px;
						max-height: 60px;
					}
				}
			}

			&:after {
				content: "";
				cursor: pointer;
				color: #fff;
				text-align: center; 
				font-size: 2em;
				padding: 20px 0;
				width: 50px;
				height: 50px;
				background-color: $secondary;
				background-image: url("../../assets/icon/right-arrow.svg");
				background-position: center;
				background-repeat: no-repeat;
				background-size: 50%;
				position: absolute;
				right: 0;
				margin-right: -25px;
				top: 50%;
				margin-top: -25px;
				box-shadow: 0 3px 7px rgba(0,0,0,0.2);
			}
			&:nth-child(even) {
				&:after{
					background-color: $primary;
				}
				.agenda-time {

					h3 {
						color:$secondary;
					}
				}
				.agenda-person {
					&:hover {
						background-color: $secondary;
					}
				}
			}
		}
	}
}

// MEETUP //
//////////////////////////////////////////
#meetup {
	.section-meetup {
		padding-top: 0;
		p {
			margin: auto;
			width: 70%;
		}
		.meetup-sponsors {
			margin-top: 50px;
			div {
				display: flex;
				align-items: center;
				justify-content: space-evenly;
				.col {
					width: 350px;
					margin-bottom: 100px;
				}
				.box {
					margin: 0;
					box-shadow: 0 5px 10px rgba(0,0,0,0.05);
					position: relative;
					display: flex;
					align-items: center;
					justify-content: center;
					&:hover {
						&:after, &:before {
							background-color: $secondary;
							transform: rotate(180deg);
						}
					}

					img {
						max-width: 90%;
						max-height: 90%;
					}
					
					&:before, &:after {
						content: "";
						top: -18px;
						left: -18px;
						width: 36px;
						height: 36px;
						position: absolute;
						border: solid 5px $secondary;
						transform: rotate(0);
						transition: 0.3s ease-out;
					}
					&:after {
						top: 40px;
					}
				}
			}
			.ms-main {
				width: 350px;
				height: 350px;
			}
			.ms-platinum {
				width: 250px;
				height: 250px;
			}
			.ms-gold {
				width: 200px;
				height: 200px;
			}
		}
	}
}

// booth //
//////////////////////////////////////////
#profile-booth {
	.profile-top {
		margin-top: -11px;
		margin-bottom: 60px;
		> div {
			width: 100%;
			height: 260px;
			background-color: $white;
			display: flex;
			align-items: center;
			justify-content: center;
			box-shadow: $shadow-1;
			img {
				max-width: 90%;
				max-height: 225px;
			}
		}
		.list-network {
			margin-top: 20px;
		}
		p {
			margin-top: 20px;
		}
	}
	.member + .member {
		margin-top: 20px;
	}
	.screen {
		margin-left: 20px;
		padding: 20px;
		width: 100%;
		height: 500px;
		border: solid 5px grey;
		border-radius: 30px;
		background-color: black;
	}
	.title-page {
		padding-bottom: 1rem !important;
	}
}
.quoted-answer {
	padding: 0px;
	font-style: italic;
	border-bottom: 1px solid white;
	margin-bottom: 10px;
}


// LIST NETWORK //
//////////////////////////////////////////
.list-network {
	margin-bottom: 1rem;
	margin-left: auto;
	margin-right: auto;
	&:not(.list-network-edit) {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	li {
		min-width: inherit;
		display: flex;
		align-items: center;
		font-size: 15px;
		font-weight: normal;
		line-height: 25px;
		color: $grey;
		cursor: pointer;
		+li {
			//margin-top: 10px;
			margin-left: 10px;
		}
		span {
			padding: .2rem;
			width: 30px;
			height: 30px;
			background-color: $white;
			box-shadow: 0 3px 7px rgba(0,0,0,0.2);

			border-radius: 10rem;
			display: flex;
			justify-content: center;
			box-sizing: content-box;
			img {
				opacity: 0.5;
				width: 1.1rem;
			}
		}
	}
	li:empty
	{
		margin-top:0px;
	}
}
.network-field {
	label {
		margin-right: 1rem;
		line-height: 2rem;
	}
	+.network-field {
		margin-top: 1rem;
	}
}

// NO ACCESS //
//////////////////////////////////////////
#noaccess {
	.section {
		margin-left: auto;
		margin-right: auto;
		h2 {
			font-size: 2em;
			font-weight: 300;
		}
		@media screen and (min-width: $desktop) {
			max-width: 70%;
			h2 {
				font-size: 2.5em;
			}
		}
	}
	.social-list {
		margin-left: auto;
		margin-right: auto;
		margin-top: 50px;
		@media screen and (min-width: $desktop) {
			margin-top: 100px;
			max-width: 50%;
		}
		.is-one-quarter {
			margin-left: auto;
			margin-right: auto;
		}
		h3 {
			font-size: 1.5em;
		}
		a {
			display: block;
		}
	}
}

// WEBINAR //
//////////////////////////////////////////

.webinar-modal {
	width: 100% !important;
	height: 100% !important;
	max-width: 100%;
	background-color: $white-ter;
	.speaker-brand {
		margin-right: 20px;
		padding-right: 20px;
		border-right: solid 1px $grey-light;
		display: flex;
		align-items: center;
		img {
			max-width: 170px;
			max-height: 80px;
		}
	}
}

.speaking-media {
	width: fit-content;
	margin: auto;
	.media-left {
		.image {
			position: relative;
			border: solid 1px #ccc;
			&:before, &:after {
				content: "";
				top: -10px;
				left: -10px;
				width: 20px;
				height: 20px;
				position: absolute;
				border: solid 4px $primary;
				transform: rotate(0);
				transition: 0.3s ease-out;
			}
			&:after {
				top: 18px;
				border-color: $secondary
			}
		}
	}
	.media-content {
		strong {
			font-size: 1.3em;
			margin-right: 20px;
		}
		p+p {
			margin-top: 0.5em;
		}
	}
}
.webinar-sponsors {
	text-align: center;
	display: flex;
	justify-content: center;
	.sponsor-padding {
		padding-left: 20px;
		padding-right: 20px;
		position: relative;
	}
	.logo {
		margin-bottom: 100px;
		img {
			max-width: 60%;
		}
	}
	.box {
		padding: 15px;
		box-shadow: $shadow-2;
		min-height: 450px;
		align-items: center;
		display: flex;
	}
	.powered {
		margin-top: 100px;
		left: 0;
		right: 0;
		bottom: 30px;
		position: absolute;
		img {
			max-width: 60%;
		}
	}
	img {
		object-fit: contain;
	}
}

#under-nav-hint {
	width: 100%;
	padding: 20px;
	background-color: $secondary;
	color: $white;
	text-align: center;
	line-height: 36px;
	position: sticky;
	button {
		margin-left: 10px;
	}
}

.bcnote-card-content {
	padding:5px 10px;
}
.bcnote {
	width: 100%;
	height: 60px;
	resize: none;
	color: $black;
	outline: none;
	background-color: $grey-lighter;
}

// SPONSOR DESIGN //
//////////////////////////////////////////
/* Style the video: 100% width and height to cover the entire window */

/* IF VIDEO */
.bg-video {
	object-fit: cover;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
}

/* MAIN */
/* KASPERSKY*/
.kaspersky {
	$kaspersky: #009881;
	background-color: $kaspersky;
	.section-profile-company {
		a {
			color: $kaspersky;
		}
		.list-network li span {
			background-color: $kaspersky;
			img {
				opacity: 1;
				filter: invert(1);
			}
		}
		.member {
			border-top-color: $kaspersky;
		}
		.pitchdeck-download {
			&:after {
				background-color: $kaspersky;
			}
		}
	}
}
/* PLATINUM */

/* GOLD */
/* RSK */
.rsk, .iovlabs {
	@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

	$rsk: #00d27d;
	min-height: calc( 100vh - 80px);
	background-color: $rsk;

	.section-profile-company {
		a {
			color: $white;
		}
		* {
			font-family: 'Quicksand', sans-serif;
		}
		.list-network li span {
			background-color: $white;
		}
		.member {
			a {
				color: $rsk;
			}
		}
	}
}
.only-iovlabs {
	display: none;
}
.rsk {
	.only-iovlabs {
		margin: auto;
		margin-bottom: 30px;
		width: 70%;
		display: block;
	}
}

/* SILVER */
/* STO MANAGERS */
.sto-managers {
	$sto-managers: #f89e37;
	.section-profile-company {
		a {
			color: $sto-managers;
		}
		.list-network li span {
			background-color: $sto-managers;
			img {
				opacity: 1;
				filter: invert(1);
			}
		}
		.member {
			border-top-color: $sto-managers;
		}
		.pitchdeck-download {
			&:after {
				background-color: $sto-managers;
			}
		}
	}
}
/* FAS */
.fas {
	$fas: #66ccc5;
	.section-profile-company {
		a {
			color: $fas;
		}
		.list-network li span {
			background-color: $fas;
			img {
				opacity: 1;
				filter: invert(1);
			}
		}
		.member {
			border-top-color: $fas;
		}
		.pitchdeck-download {
			&:after {
				background-color: $fas;
			}
		}
	}
}
/* MOHR WOLFE */
.mohr-wolfe {
	$mohr-wolfe: #1a3e7c;
	$mohr-wolfe-secondary: #fd7350;
	background-color: $mohr-wolfe;
	.section-profile-company {
		a {
			color: $mohr-wolfe;
		}
		.list-network li {
			span {
				background-color: $mohr-wolfe-secondary;
			}
			a {
				color: $white;
			}
		}
		.member {
			border-top-color: $mohr-wolfe-secondary;
		}
		.profile-bio {
			color: $white;
		}
		.pitchdeck-download {
			&:after {
				background-color: $mohr-wolfe-secondary;
			}
		}

	}
}
/* DECRED */
.decred {
	$decred: #2972ff;
	$decred-secondary: #2ed7a2;

	min-height: calc( 100vh - 80px);
	background-color: $decred;
	.member-clasic {
		display: none !important;
	}
	.member-custom {
		display: block !important;
	}

	.section-profile-company {
		a {
			color: $decred;
		}
		.list-network li {
			span {
				background-color: $white;
			}
			a {
				color: $white;
			}
		}
	}
}

/* MONEY ON CHAIN */
.money-on-chain {
	$money-on-chain: #0c3c50;
	$money-on-chain-secondary: #2cafa6;
	background-color: $money-on-chain;
	.section-profile-company {
		a {
			color: $money-on-chain-secondary;
		}
		.list-network li {
			span {
				background-color: $money-on-chain-secondary;
				img {
					opacity: 1;
					filter: invert(1);
				}
			}
			a {
				color: $white;
			}
		}
	}
}
/* LIBONOMY */
.libonomy {
	$libonomy: #14586b;
	$libonomy-secondary: #23d1ea;
	background-color: $libonomy;
	.section-profile-company {
		a {
			color: $libonomy;
		}
		.list-network li {
			span {
				background-color: $libonomy-secondary;
			}
			a {
				color: $white;
			}
		}
	}
}
/* DASH */
.dash {
	$dash: #008de4;
	$dash-dark: #092356;
	background-color: $dash-dark;
	.section-profile-company {
		a {
			color: $dash;
		}
		.list-network li {
			span {
				background-color: $dash;
				img {
					opacity: 1;
					filter: invert(1);
				}
			}
		}
	}
}
/* LIBONOMY */
.quantia-capital {
	$quantia-capital: #00006a;
	$quantia-capital-secondary: #52d1d5;
	background-color: $quantia-capital;
	.section-profile-company {
		a {
			color: $quantia-capital;
		}
		.list-network li {
			span {
			}
			a {
				color: $white;
			}
		}
	}
}
