@import "@/assets/css/variables.scss";
@import "bulma/sass/utilities/initial-variables.sass";
@import "bulma/sass/utilities/derived-variables.sass";

// NAVBAR //
//////////////////////////////////////////
// Menu
.navbar {
	box-shadow: $navbar-box-shadow-size;
	position: fixed;
	width: 100%;
	top: 0px;
	left: 0px;
	.buttons {
		a {
			background-color: none;
			color: $light-invert;
			border: none;
			&:hover {
				background-color: $light;
			}
		}
		.settings-ico {
			padding-right: 0;
		}

	}
}
.navbar-item.has-dropdown:focus .navbar-link, .navbar-item.has-dropdown:hover .navbar-link, .navbar-item.has-dropdown.is-active .navbar-link {
	background-color: $primary;
}
.navbar-link:not(.is-arrowless)::after {
	border-color: #fff;
}
.navbar-start {
	a {
		font-weight: 600;
	}
}
.absolute-sub-nav {
	width: 100%;
	padding: 35px 0px 30px 50px;
    color: #fff;
    line-height: 36px;
    position: relative;
    z-index: 30;
	button {
		margin-left: 10px;
	}
	&--squeezed-for-left-meetup-admin-sidebar {
		@extend .absolute-sub-nav;
		width: calc(100% - 320px);
		left: calc(410px - 10px - 0.75rem);
	}
}