@import "@/assets/css/variables.scss";
@import "bulma/sass/utilities/initial-variables.sass";
@import "bulma/sass/utilities/derived-variables.sass";
@import "@/assets/css/attendee-profile.scss";

#networking-rooms {
	margin-top: 5rem;
	.navbar {
		position: fixed !important;
	}
	.section-networking-rooms {
		padding: 0px 1.5rem;
	}
	.title-page {
		margin-top: 0;
	}
	.new-room {
		margin-top: 2rem;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	.room-previews {
		position: relative;
		margin-top: 1rem;
		.room-preview {
			position: relative;
			text-align: center;
			.loading-overlay {
				margin: 12px;
			}
			.box {
				width: 100%;
                box-shadow: $shadow-2;
                &:hover {
                    cursor: pointer;
                }
				.logo {
					max-width: 200px;
					height: auto;
					margin-bottom: 16px;
				}
			}
        }
	}
	#under-nav-hint {
		.container {
			@media screen and (min-width: $tablet) {
				width: 50%;
				margin-left: 0;
			}
			@media screen and (min-width: $fullhd) {
				width: calc(100vw - 33.3333%);
				margin-left: 0;
			}
		}
	}
}
#networking-attendees {
	position: relative;
	.box {
		width: 100%;
		box-shadow: $shadow-2;
		overflow-y: auto;
		@media screen and (min-width: $tablet) {
			width: calc(50% - 37px);
			position: fixed;
			right: 22px;
			bottom: 32px;
			height: calc(100% - 131px);
		}
		@media screen and (min-width: $fullhd) {
			width: calc(33.33% - 37px);
		}
		.box-title {
			margin-bottom: 1rem;
		}
		.search-attendees {
			margin-bottom: 1rem;
		}
	}
}

.attendees-list {
	margin-left: -1rem;
	margin-right: -1rem;
	margin-bottom: -1rem;
	.attendee-profile {
		@extend %attendee-profile;
	}
}